.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/assets/img-bids-header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  p {
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  .steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20px);
    gap: 16px;
    margin-bottom: 24px;
    .step {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;
      padding-left: 24px;
      height: 90px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 24px;
      img {
        border-radius: 13px;
      }
      p {
        font-size: 13px;
        font-weight: 600;
        color: white;
      }
      .step-num {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        background-color: rgba(255, 134, 0, 1);
        color: white;
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
      }
    }
  }
  button {
    width: calc(100% - 20px);
    height: 52px;
    border-radius: 100px;
  }
  .authbut {
    background-color: white;
    margin-bottom: 15px;
    color: rgba(0, 195, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 60px;
  }
  .logbut {
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}
