.formkeycon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
  padding-bottom: 20px;
  .formkey {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
    background: linear-gradient(to bottom, #00c4ff, #005be3);
    width: 100%;
  margin: 0px 10px;
  border-radius: 24px;
  z-index: 2;
  gap: 5px;
  .top-form{
    display: flex;
    gap: 8px;
    margin-left: 28px;
    margin-top: 29px;
    z-index: 2;
    img{
      width: 88px;
      height: 40px;
    }
    p{
      font-size: 9px;
      font-weight: 400;
      color: white;
    }
  }
  .middle-form{
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 8px;
    h1{
      font-size: 18px;
      color: white;
    }
    p{
      font-size: 12px;
      color: white;
      font-weight: 400;
    }
  }
  .low-form{
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 2;
    margin-left: 28px;
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      width: 126px;
      height: 36px;
      background-color: #7CEA00;
      border-radius: 99px;
      border: none;
      color: white;
      transform: translateY(5px);
    }

    img{
      width: 180px;
      height: 58px;
      border-radius: 10px;
      transform: rotate(-5deg) translateX(-10px) translateY(7px);
    }
  }
  .formkeyBackground{
    position: absolute;
    bottom: 0;
  }
  }
}

.key-yellow{
  color:yellow;
  font-family: "MyFont";
  letter-spacing: 0.1em;
}