.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .footer-part-1{
        display: flex;
         background-color: #1B191F;
         height: 134px;
    }
    .footer-part-2{
        display: flex;
         background-color: #0F0D13;
         height: 93px;
    }
    .footer-part-3{
        display: flex;
         background-color: #000000;
         height: 110px;
    }
}