.navbar {
  width: calc(100% - 20px);
  z-index: 999;
  height: 58px;
  display: flex;
  background-color: #00c3ff;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  margin: 0px 10px;
  position: fixed;
  bottom: 10px;
  gap: 35px;

  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.6); /* серый по умолчанию */
    transition: color 0.2s ease;

    svg {
      width: 24px;
      height: 24px;
      color: rgba(255, 255, 255, 0.6); /* серый по умолчанию */
      transition: color 0.2s ease;
    }
  }
}

/* ✅ Активное состояние — белый цвет */
.nav-item.active {
  color: #ffffff;
}

.nav-item.active svg {
  color: #ffffff;
}
